<div class="container-fluid d-flex justify-content-center">
  <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
    <div class="mt-3 form-group">
      <label for="name">請修改餐廳名稱</label>
      <input type="text" placeholder="name" value="{{restaurant.name}}" name="name" required>
    </div>
    <div class="form-group">
      <label for="name_en">請修改餐廳英文名稱</label>
      <input type="text" placeholder="name_en" name="name_en" value="{{restaurant.name_en}}" required>
    </div>
    <div class="form-group">
      <label for="category">請修改餐廳類別</label>
      <input type="text" placeholder="category" name="category" value="{{restaurant.category}}" required>
    </div>
    <div class="form-group">
      <label for="image">請修改餐廳圖片連結網址</label>
      <input type="text" placeholder="image" name="image" value="{{restaurant.image}}" required>
    </div>
    <div class="form-group">
      <label for="location">請修改餐廳地址</label>
      <input type="text" placeholder="location" name="location" value="{{restaurant.location}}" required>
    </div>
    <div class="form-group">
      <label for="phone">請修改餐廳電話</label>
      <input type="text" placeholder="phone" name="phone" value="{{restaurant.phone}}" required>
    </div>
    <div class="form-group">
      <label for="google_map">請修改餐廳google map網址</label>
      <input type="text" placeholder="google_map" name="google_map" value="{{restaurant.google_map}}" required>
    </div>
    <div class="form-group">
      <label for="rating">請修改餐廳評價</label>
      <input type="number" max="5" min="0" step="0.1" placeholder="rating" name="rating" value="{{restaurant.rating}}"
        required>
    </div>
    <div class="form-group">
      <label for="description">請修改餐廳描述</label>
      <input type="text" placeholder="description" name="description" value="{{restaurant.description}}" required>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/" class="btn btn-secondary ml-1">back</a>
    </div>

  </form>
</div>